.profile-pic-div {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    position:relative;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid green;
    overflow: hidden;
    /* display: flex;
   align-items: center; */
  }
 
  #photo {
    height: 100%;
    width: 100%;
  }
  #photo1 {
    height: 100%;
    width: 100%;
  }
  
  .userphoto1{
    height: 20vh;
     width: 20vh;
     border-radius: 50%;
     position:absolute;
     top: 27%;
     left:30%;
     transform: translate(-50%, -50%);
     border: 1px solid green;
     overflow: hidden;
  
  } 
  #btnchoose {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 75%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 10px;
  }
 
  #file {
    display: none;
  }
 .sf-info{
   margin-top: 20vh;
   margin-left: 21.5vw;
   display: flex;
   flex-direction: row;
   color: white;
   align-items: baseline;
 }
 .num{
   font-size: 2vh;
 
 }
 .follower{
   margin-left: -55%;
   font-size: 2vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 8%;
   letter-spacing: 2px;
 }
 .follow{
   margin-left: 2%;
   font-size: 2vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   letter-spacing: 2px;
 }
 .brdr{
   margin-top: 10%;
   margin-right: 2vw;
   font-size: 1.8vh;
   color:#222222;
   border-right: 2px #343beb solid;
 }
 
 
  .userphoto{
   height: 20vh;
    width: 20vh;
    border-radius: 50%;
    position:absolute;
    top: 27%;
    left:48%;
    transform: translate(-50%, -50%);
    border: 1px solid green;
    overflow: hidden;
 
 } 
 
  .button:active {
    border-left: 3px solid #343beb !important;
  }
 
  @media (max-width: 768px) {
    .button {
      font-size: 1.2rem !important;
    }
  }
 
  @media (max-width: 480px) {
    .button {
      font-size: 1rem !important;
    }
  }
 /* dialog */
 .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
   background-color: #222222 !important;
   color: #343beb !important;
 }
 /* password image style  */
 /* svg {
  } */
