label[for="name"] {
    color: rgb(159, 156, 156);
  }
  label[for="description"] {
    color: rgb(159, 156, 156);
  }
  
  
  
  .date {
    color: rgb(159, 156, 156);
    font-style: oblique 10deg;
    font-size: 20px;
  
  }
  
  
  
  input {
    color: rgb(159, 156, 156);
    padding-left: 12px;
    border-radius: 2px;
    height: 56px;
    width: 100%;
    border: 1px solid #a9a9a9;
  
  }
  
  .image-item {
    display: block;
    margin-top: 5px;
  
  }
  
  .image-item__btn-wrapper {
    display: flex;
  
  }
  
  .image-item__btn-wrapper>button {
    margin-top: 5px;
  }
  .btnup {
    margin-top: 2vh;
    height: 40px;
  }
  
  .Upimage {
    font-family: sans-serif;
    /* text-align: center; */
    background-color: #f6f9fe;
    height: 100vh;
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    color: rgb(159, 156, 156) !important;
  
  
  }
  .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
    color: white !important;
  }
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: rgb(159, 156, 156) !important;
  }
  .css-1glvl0p-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-clearIndicator {
  color :rgb(159, 156, 156) !important;
  }
  .css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator {
    color :rgb(159, 156, 156) !important;
  
  }