.app-bar {
  background-color: #161616 !important;
  border-bottom: 9px solid #343beb !important;
  z-index: 1 !important;
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  width: 100% !important;
}

.logo {
  width: 50px;
  height: 50px;
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
}

.box-menu {
  flex-grow: 1;
  display: flex;
  margin-left: -2.5rem;
  color: #343beb;
}

@media (min-width: 1000px) {
  .box-menu {
    display: none;
  }
}

/* menu */
.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: #161616;
}

.menu-btn {
  background-color: #161616;
  color: white;
  transition: color 0.1s ease-in-out;
}

.menu-btn:hover {
  color: #343beb;

}

.comp-box {
  flex-grow: 1;
  display: none;
}

@media (min-width: 768px) {
  .comp-box {
    display: flex;
  }
}

.button-style {
  margin-left: 0rem !important;
  margin-right: 3rem !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  color: white !important;
  display: block !important;
  transition: color 0.1s ease-in-out !important;
  letter-spacing: 1px !important;
  border-radius: 0px !important;
}

.button-style:hover {
  color: #343beb !important;
}

.button-style:focus {
  border-bottom: 2px solid #343beb;
}


.log-btn {
  border-radius: 20px !important;
  color: white !important;
  background-color: #343beb !important;
  margin-left: -6rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;

}

.log-btn:hover {
  background-color: #161616 !important;
  color: #343beb !important;
}

.sign-btn {
  border-radius: 20px !important;
  color: white !important;
  background-color: #343beb !important;
  margin-right: 2rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.sign-btn:hover {
  background-color: #161616 !important;
  color: #343beb !important;
}

.streamicon {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

@media screen and (max-width:1000px) {
  .streamicon {
    width: 27px;
    height: 27px;
  }
}

.av {
  margin-right: 5rem !important;
  margin-left: 1rem !important;
}

@media screen and (max-width:1000px) {
  .av {
    margin-right: 3rem !important;
  }
}

/* box user image  */
.tool {
  position: relative;
  right: 2.5rem;
}

@media screen and (max-width:1000px) {
  .tool {
    position: relative;
    right: 1.4rem;
  }
}

.NAMECard {
  position: relative;
  top: 0;
  left: 2rem;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 2vh;
}

.CARDname {
  margin-right: 2%;
  margin-left: -1rem;
  margin-top: 2%;
}

.CARDlastname {
  margin-left: 2%;
  margin-top: 2%;

}

.pp {
  position: relative;
  left: -1.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}