.chatTitle2{
color: white;
}
.chatcontainer2 {
    background-color: #222;
    width: 250rem;
}
.chatMessagesContainer{
    color: white;
}

.messageContent2 {
    background-color: #343beb;
    padding: 5px;
    bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-Items: 'center';
    margin-Left: '0px';
    margin-bottom: 10px;
}

.senderContainer2 {
    display: flex;
    align-items: center;
}
