.userProfileF {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.followines {
    position: relative;
    top: -1rem;
    left: -1rem;
}

.Flist {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.8rem;
    margin-top: -1rem;

}

.cardUserF {
    background-color: #161616;
    width: 23rem;
    height: 6rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    margin-right: 2%;
    margin-bottom:2%;

}

.cardUserF img {
    position: relative;
    top: 1rem;
    left: 1rem;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;

}

.card-info-userF {
    display: flex;
    flex-direction: column;

}

.card-infoF {
    position: relative;
    top: 1rem;
    left: 2rem;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 3vh;

}
.card-info-nameF {
    margin-right: 2%;

}

.card-info-lastnameF {
    margin-left: 2%;

}

.card-info-followF {
    position: relative;
    top: 2rem;
    left: 2rem;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.7vh;
}

.subscribeButtonF {
    color: white;
    position: relative;
    top: 2rem;
    left: 4rem;
    width: 5rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 10px;

}