.userProfilecreatedtour {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.alignFTC {
    display: flex;
    align-items: center;
}

.filtre-styleC {
    position: relative;
    top: -1rem;
    left: 38.5rem;
    background-color: gray;
    color: white;
    padding: 1rem;
    font-size: 80%;
    outline: none;
    border: none;
    cursor: pointer;
}

.filtre-styleC:hover {
    background-color: rgb(152, 152, 152) !important;
}

.createdtC {
    position: relative;
    top: -1rem;
    left: -1rem;
}

.tourlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #ffffff;
}

/* all tour.css */
.userProfileAlltour {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.Allt {
    position: relative;

}

.tourlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #ffffff;
    width: 100%;
    height: 100%;
}


.boxToures3 {
    position: relative;
    top: -1rem !important;
    left: 0.5rem !important;
    width: 17rem;
    height: 23rem;
    margin: 1%;
    background-color: #161616;
    border-radius: 1vw;
    display: flex !important;
    flex-direction: column !important;
}

@media (max-width: 576px) {
    .tourlist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: #ffffff;
    }


    .boxTour {
        position: relative;
        top: 0.5rem;
        left: 2rem;
        width: 10rem;
        height: 15rem;
        margin: 3%;
        background-color: #161616;
        border-radius: 1vw;
        display: flex !important;
        flex-direction: column !important;
    }
}

.touraimg {
    position: relative;
    top: 0rem;
    width: 100%;
    height: 30%;
    object-fit: cover;
    object-position: center;
    border-radius: 1vw 1vw 0 0;

}

.titleA3 {
    position: relative;
    top: 0rem;
    left: 0.5rem;
    font-size: 2.5rem;
}

.jeuxA3 {
    position: relative;
    top: 1.2rem;
    left: 0.4rem;
    font-size: 1.2rem;

}

.manetteA3 {
    width: 17px;
    height: 17px;
    margin-left: 4px;
    margin-right: 10px;

}

.participantsA3 {
    position: relative;
    top: 2.2rem;
    left: 0.4rem;
    font-size: 1.2rem;

}

.particonA3 {
    width: 17px;
    height: 17px;
    margin-left: 4px;
    margin-right: 10px;

}

.date-tA3 {
    position: relative;
    top: 3rem;
    left: 0.4rem;
    font-size: 1.2rem;
}

.calendar-tA3 {
    position: relative;
    top: 0.1rem;
    width: 17px;
    height: 17px;
    margin-left: 4px;
    margin-right: 10px;

}


.btnseeA3 {
    font-size: 0.6rem;
    position: relative;
    left: 8.2rem;
    top: 4.5rem;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #343beb;
    border-radius: 20px;
    height: 2rem;
    width: 6rem;
    cursor: pointer;
    border: none;

}

.btnseeA3:hover {
    color: white;
    background-color: #464bea;
    border-radius: 20px;
    height: 2.1rem;
    width: 6.1rem;
    cursor: pointer;
    border: none;

}