.SignForm {
  background-color: #161616;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10vh;
}

.imgsign{
  position: relative;
  width: 50%;
}

.imgsign img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.join{
  position: absolute;
  top: 0;
  left: 0.2rem;
  color: #ffffff;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.FormS {
  position: relative;
  top: 5rem;
  left: 1.3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SAL {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 3px;
}

.Su {
  position: relative;
  top: 0rem;
  font-size:3rem;
  letter-spacing: 4px;
}

.AL {
  position: relative;
  top: 0.5rem;
  display: flex;
  flex-direction: row;
  font-size: 1rem;

}

.A {
  position: relative;
  right: 1rem;
}

.LS {
  position: relative;
  left: 0rem;
  color: #343beb;
  text-decoration: none;
}

.sForm {
  position: relative;
  top: 3rem;
  left: 0rem;
  display: flex;
  flex-direction: column;
}

.btnSign {
  position: relative !important;
  top: 1.3rem !important;
  left: 10rem !important;
  background-color: #343beb !important;
  border-radius: 50px !important;
  letter-spacing: 3px !important;
  width: 10rem !important;
  color: gray !important;
  cursor: pointer !important;
}

.btnSign:hover {
  background-color: #4c51e0 !important;
  color: #ffffff !important;
}
label[for="name"] {
    color: rgb(159, 156, 156);
  }
label[for="lastname"] {
    color: rgb(159, 156, 156);
  }
  label[for="email"] {
    color: rgb(159, 156, 156);
  }
label[for="password"] {
    color: rgb(159, 156, 156);
  }
label[for="confirmpassword"] {
    color: rgb(159, 156, 156);
  }

