.loginForm {
  background-color: #161616;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10vh;

}

.imglogin {
  position: relative;
  width: 50%;
}

.imglogin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.wlc {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.Form {
  position: relative;
  top: 6rem;
  left: 1.3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LSN {
  position: relative;
  top: 1rem;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: 'PT Sans', 'sans-serif';
  letter-spacing: 3px;
}

.L {
  position: relative;
  top: 1rem;
  font-size: 6rem;
  letter-spacing: 4px;
}

.NS {
  position: relative;
  top: 2.5rem;
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;

}

.N {
  position: relative;
  right: 2rem;
}

.S {
  position: relative;
  left: 0.3rem;
  color: #343beb;
  text-decoration: none;
}

.EPForm {
  position: relative;
  top: 5rem;
  left: 0rem;
  display: flex;
  flex-direction: column;
}

.btnLogin {
  position: relative !important;
  top: 8rem !important;
  background-color: #343beb !important;
  border-radius: 50px !important;
  letter-spacing: 3px !important;
  width: 10rem !important;
  color: gray !important;
  cursor: pointer !important;
}

.btnLogin:hover {
  background-color: #4c51e0 !important;
  color: #ffffff !important;
}

label[for="name"] {
  color: rgb(159, 156, 156);
}

label[for="lastname"] {
  color: rgb(159, 156, 156);
}

label[for="email"] {
  color: rgb(159, 156, 156);
}

label[for="password"] {
  color: rgb(159, 156, 156);
}

label[for="confirmpassword"] {
  color: rgb(159, 156, 156);
}