.btn-align {
  display: flex;
  justify-content: flex-start;
}

.select-style {
  position: relative;
  top: 4rem;
  left: -1.5rem;
  background-color: gray;
  color: white;
  padding: 1rem;
  font-size: 80%;
  outline: none;
  border: none;
  cursor: pointer;
}

.select-style:hover {
  background-color: rgb(152, 152, 152) !important;
}


@media (max-width: 576px) {
  .select-style {
    top: 4rem;
    left: -1.5rem;
    font-size: 50%;
    padding: 0.5rem;
  }
}

/* select  games style */
.select-game {
  position: relative;
  top: 4rem;
  left: -1.3rem;
  background-color: gray;
  color: white;
  padding: 1rem;
  font-size: 80%;
  outline: none;
  border: none;
  cursor: pointer;
}

.select-game:hover {
  background-color: rgb(152, 152, 152) !important;
}


@media (max-width: 576px) {
  .select-game {
    top: 4rem;
    left: -1.3rem;
    font-size: 50%;
    padding: 0.5rem;
  }
}

/* reset fitre  */
.btn-reset {
  position: relative;
  top: 4rem;
  left: -1.1rem;
  background-color: gray;
  color: white;
  padding: 1rem;
  font-size: 80%;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-reset:hover {
  background-color: rgb(152, 152, 152) !important;
}


@media (max-width: 576px) {
  .btn-reset {
    top: 4rem;
    left: -1.1rem;
    font-size: 50%;
    padding: 0.5rem;
  }
}

.btncreatees {
  position: relative;
  top: 4rem;
  left: 39rem;
  color: white !important;
  background-color: #343beb !important;
}

.tour {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #ffffff;
}


.tourbox {
  position: relative;
  top: 5rem;
  left: 0.1rem;
  width: 20rem;
  height: 30rem;
  margin: 1%;
  background-color: #161616;
  border-radius: 1vw;
  display: flex !important;
  flex-direction: column !important;
}

@media (max-width: 576px) {
  .tour {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #ffffff;
  }


  .tourbox {
    position: relative;
    top: 2rem;
    left: 2rem;
    width: 20rem;
    height: 28rem;
    margin: 3%;
    background-color: #161616;
    border-radius: 1vw;
    display: flex !important;
    flex-direction: column !important;
  }
}

.tournoisimage {
  position: relative;
  top: 0rem;
  width: 100%;
  height: 30%;
  object-fit: cover;
  object-position: center;
  border-radius: 1vw 1vw 0 0;

}

.title {
  position: relative;
  top: 0rem;
  left: 0.5rem;
  font-size: 2.5rem;
}

.jeux {
  position: relative;
  top: 1.5rem;
  left: 0.4rem;
  font-size: 1.2rem;

}

.manette {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  margin-right: 10px;

}

.participants {
  position: relative;
  top: 2.2rem;
  left: 0.4rem;
  font-size: 1.2rem;

}

.particon {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  margin-right: 10px;

}

.date-t {
  position: relative;
  top: 1.8rem;
  left: 0.4rem;
  font-size: 1.2rem;
}

.created-at-tour {
  position: relative;
  top: 2.5rem;
  left: 1rem;
  font-size: 1.2rem;

}

.calendar-t {
  position: relative;
  top: 1.3rem;
  font-size: 1.2rem;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  margin-right: 10px;

}


.btnsee {
  position: relative;
  left: 10rem;
  top: 5rem;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #343beb;
  border-radius: 20px;
  height: 2.5rem;
  width: 8rem;
  cursor: pointer;
  border: none;

}

.btnsee:hover {
  color: white;
  background-color: #464bea;
  border-radius: 20px;
  height: 2.5rem;
  width: 8rem;
  cursor: pointer;
  border: none;

}

@media (max-width: 576px) {
  .tournoisimage {
    position: relative;
    top: 0rem;
    width: 100%;
    height: 30%;
    object-fit: cover;
    object-position: center;
    border-radius: 1vw 1vw 0 0;

  }

  .title {
    position: relative;
    top: 0rem;
    left: 0.5rem;
    font-size: 1.8rem;
  }

  .jeux {
    position: relative;
    top: 1.5rem;
    left: 0.4rem;
    font-size: 1.2rem;

  }

  .manette {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    margin-right: 10px;

  }

  .participants {
    position: relative;
    top: 2.2rem;
    left: 0.4rem;
    font-size: 1.2rem;

  }

  .particon {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    margin-right: 10px;



  }

  .date-t {
    position: relative;
    top: 1.8rem;
    left: 0.4rem;
    font-size: 1.2rem;
  }

  .created-at-tour {
    position: relative;
    top: 2.5rem;
    left: 1rem;
    font-size: 1.2rem;

  }

  .calendar-t {
    position: relative;
    top: 1.3rem;
    font-size: 1.2rem;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    margin-right: 10px;

  }


  .btnsee {
    position: relative;
    left: 10rem;
    top: 5rem;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #343beb;
    border-radius: 20px;
    height: 2.5rem;
    width: 8rem;
    cursor: pointer;
    border: none;

  }

  .btnsee:hover {
    color: white;
    background-color: #464bea;
    border-radius: 20px;
    height: 2.5rem;
    width: 8rem;
    cursor: pointer;
    border: none;

  }
}