.grid1 {
    margin-top: 3vh;
    background-color: #161616 !important;
    height: auto !important;
    width: 100% !important;
    min-height: 90%;
  }
  
  .grid2 {
    position: relative;
    left: 1rem;
    display: flex;
    flex-direction: row;
    background-color: #222222 !important;
    height: 96% !important;
    width: 96% !important;
    margin-top: 2vw !important;
    min-height: 90%;
  }
  
  .imgbg {
    position: relative;
    top: -1rem;
    left: -2rem;
    height: 13%;
    width:102.2%;
  }

  .imgbg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .txt {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0vh;
    color: #ffffff;
    font-size: 2.7vw;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    .txt {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 576px) {
    .imgbg {
     position: relative;
      top: 0;
      left: -2rem;
      width: 107.4%;
      height: 5%;
    }
  }
