@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.Apphello {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 10vh;
}

.App-contenthello {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  text-indent: 60px;
}

.hello {
  margin-left: -3vw;
  margin-top: 3vh;
  text-indent: 30px;
  font-family: 'PT Sans', sans-serif;
  font-size: 60px;
  color: #FFFBF5;
  margin-bottom: 7vh;
}


.hello22 {
  margin-left: -3vw;
  text-indent: 30px;
  font-family: 'PT Sans', sans-serif;
  font-size: 60px;
  color: #FFFBF5;
  margin-bottom: 17vh;

}

.para {
  margin-left: -3vw;
  text-indent: 50px;
  font-family: 'PT Sans', sans-serif;
  font-size: 50px;
  color: #FFFBF5;
  display: flex;
  margin-right: auto;

}

.horizontal-line {
  border-top: 2px solid #343BEB;
  width: 100%;
}
.sUp {
  text-decoration: none;
  margin-left: 3vw;
  font-size: 3vh;
  margin-bottom: 4vh;
  color: #343beb;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {
    color: #343beb;
  }

  50% {
    color: white;
  }

  100% {
    color: #343beb;
  }
}

.sUp:hover {
  border: 3px solid #343beb;
  animation: rotateBorder 1s linear infinite;
}

@keyframes rotateBorder {
  0% {
    border-color: #ffffff#4146ef#343beb;
  }
 
  25% {
    border-color: #343beb #4146ef #ffffff;  }


  50% {
    border-color: #ffffff#4146ef#343beb;
  }
  75% {
    border-color: #343beb #4146ef #ffffff;  }


  100% {
    border-color: #ffffff#4146ef#343beb;
}
}
