.userProfileFo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.followeres {
    position: relative;
    top: -1rem;
    left: -1rem;
}

.Folist {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.8rem;
    margin-top: -1rem;
}

.cardUserFo {
    background-color: #161616;
    width: 23rem;
    height: 6rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    margin-right: 2%;
    margin-bottom: 2%;

}

.cardUserFo img {
    position: relative;
    top: 1rem;
    left: 1rem;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;

}

.card-info-userFo {
    display: flex;
    flex-direction: column;

}

.card-infoFo {
    position: relative;
    top: 1rem;
    left: 2rem;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 3vh;

}

.card-info-nameFo {
    margin-right: 2%;

}

.card-info-lastnameFo {
    margin-left: 2%;

}

.card-info-followFo {
    position: relative;
    top: 2rem;
    left: 2rem;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.7vh;
}

.subscribeButtonFo {
    color: white;
    position: relative;
    top: 2rem;
    left: 4rem;
    width: 5rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.75vh;
}